<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="./CreateAccount.css">
<title>Insert title here</title>
</head>
<body>
<div id="main">
    <div id="box">
        <h1>Create EasyPay Account</h1>
        <form action="Account" method="post">
            <label for="">Name</label>
            <input class="input" type="text" name="name" placeholder="Enter Name"><br><br>
            <label for="">BankName</label>
            <input  class="input" type="text" name="acc"  placeholder="Enter BankName"><br><br>
            <label for="">Account Number</label>
            <input class="input" type="text" name="accNo"  placeholder="Enter Account Number"><br><br>
            <label for="">Mobile Number</label>
            <input class="input" type="tel" name="Mobile"  placeholder="Enter Mobile Number"><br><br>
            <label for="">Set Password</label>
            <input class="input" type="password" name="password"  placeholder="Enter Password"><br><br>
            <label for="">Set UPI Pin</label>
            <input class="input" type="password" name="upi"  placeholder="Enter UPI Pin"><br><br>
            <input type="submit" value="Create" id="create">
        </form>
    </div>
    </div>
</body>
</html>