<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="./HomePage.css">
</head>
<body Style="background: #eae8dc">
<div id="main">
        <div id="pay">
            <form action="PaymentIncitation.html">
                <img src="./Payment.png" id="imgpay" alt="">
                <input type="submit" value="Pay" >
            </form>
        </div>
        <div id="bal">
            <form action="CheckBalance.html">
                <img src="./CheckBalance.png" id="imgpay" alt="">
                <input type="submit" value="CheckBalance" >
            </form>
        </div>
        <div id ="history">
            <form action="TransactionHistory" method="post">
                <img src="./Transaction.png" id="imgpay" alt="">
                <input type="submit" value="Transaction" >
            </form>
        </div>
    </div>
</body>
</html>