<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="./LoginPage.css">
</head>
<body>
 <div id="main">
        <div>
            <h1 id="title">EasyPay</h1>
            <h1>Unlock the future of banking...!</h1>
        </div>
         <div id="box">
            <form action="Login" method="post">
                <input class="input" type="text" id="id" placeholder="Enter Mobile Number" name="mail">
                <input class="input" type="password" id="password" placeholder="password" name="password" >
                <input type="submit" id="submit" value="Login">
             </form>
                <form action="CreateAccount.html">
                    <input type="submit"id="acc" value="Create Account">
                </form>
          

         </div>
    </div>
</body>
</html>