<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="./PaymentIncitation.css">

    <title>Payment</title>
</head>
<body Style="background: #eae8dc">
<div id="main">
        <div id="box">
        <form action="GetUser" method="post">
            <input type="text" placeholder="Enter the Mobile Number" id="id1" name="getUser">
            <input type="submit" value="Validate" id="validate" onclick="disappear()">
            </form>
            <form action="Money" method="post" >
            <input type="text" placeholder="Enter Money To Send" id="id2" name="money">
            <input type="submit" value="Next" id="submit">
           </form>
        </div>
    </div>
</body>
</html>